<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/head %>
</head>
<body class="container">

    <header>
        <% include ../views/header %>
    </header>

    <main>
		<h1><%=title%></h1>
		<div class='row'>
			<div id ='mnow-list' class='col-xs-12'>
			</div>
		</div>
    </main>

    <footer>
        <% include ../views/footer %>
    </footer>
    
</body>
</html>